.completionChart {
  width: 200px;
  left: 1157px;
  margin: 5vh;
  padding: 5vh;

  &__graph {
    margin: 10px;
    padding: 20px;
    border-radius: $borderRadius;
    box-shadow: $box-shadow;
    border-radius: 50%;
    background-color: 2c2f33;
  }
}
