.App {
  width: 100vw;
  height: 170vh;
  display: flex;
  flex-direction: column;
  font-family: $fontFamily;
  scroll-behavior: auto;
  &__content {
    display: flex;
    justify-content: space-between;
  }
}
