.MessagesGroup {
  background-color: $blackColor;
  width: 100%;
  display: flex;
  font-family: $fontFamily;
  flex-direction: column;

  &__search {
    width: 100%;
    margin: 0.5rem;
    display: flex;
    background-color: grey;
    justify-content: start;
    align-items: center;
    background-color: #2c2f33;
    box-shadow: 14px 14px 40px rgba(16, 16, 18, 0.75), -7px -7px 30px #262e32;
    border-radius: 25px;
    padding: 0.5rem;
    &--img {
      width: 2rem;
      height: 2rem;
      padding: 0.5rem 1rem;
    }
    &--text {
      color: white;
    }
  }
  &__groups {
    width: 95%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: #2c2f33;
    box-shadow: 14px 14px 40px rgba(16, 16, 18, 0.75), -7px -7px 30px #262e32;
    border-radius: 25px;
    &--title {
      color: white;
      font-size: 1.2rem;
      padding: 0.3rem;
    }
    &__tchat {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: white;
      border: 1px solid white;
      border-width: 0 0 1px 0;

      &--img {
        margin: 0.5rem;
        height: 2.5rem;
        width: 2.5rem;
      }
      &__div {
        display: flex;
        flex-direction: column;
        width: 100%;
        &__1 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          &--name {
            font-weight: bold;
          }
          &--date {
            font-weight: 100;
            font-size: 0.8rem;
          }
        }
        &__2 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          &--tchat {
            font-weight: 100;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  &__people {
    width: 95%;
    margin: 0.5rem;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #2c2f33;
    box-shadow: 14px 14px 40px rgba(16, 16, 18, 0.75), -7px -7px 30px #262e32;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    &--title {
      color: white;
      font-size: 1.2rem;
      padding: 0.3rem;
    }
    &__tchat {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: white;
      border: 1px solid white;
      border-width: 0 0 1px 0;

      &--img {
        margin: 0.5rem;
        height: 2.5rem;
        width: 2.5rem;
      }
      &__div {
        display: flex;
        flex-direction: column;
        width: 100%;
        &__1 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          &--name {
            font-weight: bold;
          }
          &--date {
            font-weight: 100;
            font-size: 0.8rem;
          }
        }
        &__2 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          &--tchat {
            font-weight: 100;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
