.navbarLeftContainer {
  background-color: $blackColor;
  display: flex;
  position: fixed;
  left: 0;
  margin-top: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100px;
  height: 100%;
  &__icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100px;
    box-shadow: -6.22302px -6.22302px 18.6691px #3b4451,
      6.22302px 6.22302px 18.6691px #000000;
    border-radius: 12.446px;
    img {
      padding: 1rem;
      width: 30px;
      height: 30px;
      box-shadow: -6.22302px -6.22302px 18.6691px #3b4451,
        6.22302px 6.22302px 18.6691px #000000;
      border-radius: 12.446px;
      &:hover {
        cursor: pointer;
        filter: brightness(1.5);
        box-shadow: inset -6.22302px -6.22302px 6.22302px #3b4451,
          inset 3.73381px 3.73381px 6.22302px #000000;
        border-radius: 12.446px;
      }
      &:last-child {
        margin-top: 5rem;
      }
    }
  }
}
