.navbarTopContainer {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  width: 100vw;
  background-color: $blackColor;
  color: white;
  &__logo {
    width: 100px;
    height: 100px;
  }
  &__navbarContainer {
    box-shadow: -6.22302px -6.22302px 18.6691px #3b4451,
      6.22302px 6.22302px 18.6691px #000000;
    border-radius: 24.8921px;
    padding-left: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    &__leftSide {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      ul {
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        list-style: none;
        width: 50%;
        li {
          padding: 1rem 3rem;
          margin: 1rem 0 1rem 5rem;
          box-shadow: -6.22302px -6.22302px 18.6691px #3b4451,
            6.22302px 6.22302px 18.6691px #000000;
          border-radius: 12.446px;
          &:hover {
            cursor: pointer;
            filter: brightness(1.5);
            box-shadow: inset -6.22302px -6.22302px 6.22302px #3b4451,
              inset 3.73381px 3.73381px 6.22302px #000000;
            border-radius: 12.446px;
          }
        }
      }
    }
    &__rightSide {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 30%;
      gap: 1rem;
      img {
        &:hover {
          cursor: pointer;
          filter: brightness(1.5);
          box-shadow: inset -6.22302px -6.22302px 6.22302px #3b4451,
            inset 3.73381px 3.73381px 6.22302px #000000;
          border-radius: 12.446px;
        }
      }
      p {
        padding: 1rem 3rem;
        box-shadow: -6.22302px -6.22302px 18.6691px #3b4451,
          6.22302px 6.22302px 18.6691px #000000;
        border-radius: 12.446px;
        &:hover {
          cursor: pointer;
          filter: brightness(1.5);
          box-shadow: inset -6.22302px -6.22302px 6.22302px #3b4451,
            inset 3.73381px 3.73381px 6.22302px #000000;
          border-radius: 12.446px;
        }
      }
    }
  }
}
