.projectActivities {
  width: 400px;
  height: 638px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  overflow-x: hidden;
  background: #2c2f33;
  box-shadow: -6.22302px -6.22302px 18.6691px #3b4451,
    6.22302px 6.22302px 18.6691px #000000;
  border-radius: 8px;
  color: white;
  padding: 18px;

  h1 {
    font-size: $smallFontSize;
    font-weight: 600;
    text-align: left;
    width: 90%;
    justify-self: flex-start;
  }
  &__card {
    width: 361px;
    height: 64px;
    display: flex;
    justify-content: space-between;

    &__imgBox {
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #2c2f33;
      box-shadow: inset -12.446px -12.446px 31.1151px #3b4451,
        inset 12.446px 12.446px 31.1151px #000000;
      border-radius: 248.921px;
      img {
        object-fit: cover;
        width: 53px;
      }
    }
    &__activity {
      width: 230px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 10px;
      &__employee {
        font-size: $xsmallFontSize;
        font-weight: 600;
      }
      &__description {
        font-size: $tinyFontSize;
        font-weight: 300;
      }
      &__postTime {
        font-size: $tinyFontSize;
        font-weight: 300;
      }
    }
    &__button {
      width: 53px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: -6.22302px -6.22302px 18.6691px #3b4451,
        6.22302px 6.22302px 18.6691px #000000;
      border-radius: 18.6691px;
      &:hover {
        cursor: pointer;
        filter: brightness(1.5);
        box-shadow: inset -6.22302px -6.22302px 6.22302px #3b4451,
          inset 3.73381px 3.73381px 6.22302px #000000;
        border-radius: 12.446px;
      }
    }
  }
  &__button {
    padding: 10px 45px;
    background: #2c2f33;
    box-shadow: inset -6.22302px -6.22302px 18.6691px #3b4451,
      inset 6.22302px 6.22302px 18.6691px #000000;
    border-radius: 24.8921px;
    border: 0;
    cursor: pointer;
    color: white;
    font-family: $fontFamily;
    font-size: $smallFontSize;
    font-weight: 500;
    &:hover {
      cursor: pointer;
      filter: brightness(1.5);
      box-shadow: inset -6.22302px -6.22302px 6.22302px #3b4451,
        inset 3.73381px 3.73381px 6.22302px #000000;
      border-radius: 12.446px;
    }
  }
}
