.projectActivities {
  width: 400px;
  height: 638px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 34px;
  overflow: scroll;
  background: #2c2f33;
  box-shadow: 14px 14px 40px rgba(16, 16, 18, 0.75), -7px -7px 30px #262e32;
  border-radius: 8px;
  color: white;
  padding: 18px;
  h1 {
    font-size: $smallFontSize;
    font-weight: 600;
    text-align: left;
    width: 90%;
    justify-self: flex-start;
  }
  &__card {
    width: 361px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    &__imgBox {
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #2c2f33;
      box-shadow: inset -12.446px -12.446px 31.1151px #3b4451,
        inset 12.446px 12.446px 31.1151px #000000;
      border-radius: 248.921px;
      img {
        object-fit: cover;
        width: 53px;
      }
    }
    &__activity {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      &__employee {
        font-size: $xsmallFontSize;
        font-weight: 600;
      }
      &__description {
        font-size: $tinyFontSize;
        font-weight: 300;
      }
      &__postTime {
        font-size: $tinyFontSize;
        font-weight: 300;
      }
    }
    &__button {
      width: 53px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: -6.22302px -6.22302px 18.6691px #3b4451,
        6.22302px 6.22302px 18.6691px #000000;
      border-radius: 18.6691px;
    }
  }
  &__button {
    width: 186px;
    height: 33px;
    background: #2c2f33;
    box-shadow: inset -6.22302px -6.22302px 18.6691px #3b4451,
      inset 6.22302px 6.22302px 18.6691px #000000;
    border-radius: 24.8921px;
    border: 0;
    cursor: pointer;
    color: white;
    font-family: $fontFamily;
    font-size: $smallFontSize;
    font-weight: 500;
  }
}
