$hardBlueDarkcolor: #032449;
$blueDarkColor: #073364;
$bluePrimaryColor: #1d5ba9;
$blueSecondaryColor: #235994;
$blueLightColor: #406c9e;
$borderRadius: 50px;
$box-shadow: 20px 20px 60px #25282b, -20px -20px 60px #33363b;
$blackColor: #2c2f33;
$smallFontSize: 14px;
$mediumFontSize: 18px;
$tinyFontSize: 10px;
$xsmallFontSize: 12px;
$xxsmallFontSize: 8px;
$bigFontSize: 24px;
$extraBigFontSize: 36px;
$fontFamily: 'Montserrat', sans-serif;
