$hardBlueDarkcolor: #032449;
$blueDarkColor: #073364;
$bluePrimaryColor: #1D5BA9;
$blueSecondaryColor: #235994 ;
$blueLightColor: #406C9E;
$borderRadius: 50px;
$box-shadow:  20px 20px 60px #25282b,
             -20px -20px 60px #33363b;
$blackColor: #2C2F33;
$smallFontSize:14px;
$mediumFontSize:18px;
$tinyFontSize:10px;
$xsmallFontSize:12px;
$bigFontSize:24px;
$extraBigFontSize:36px;
$fontFamily: 'Montserrat', sans-serif;

